# CH02 Basic Data Type
---
### 1. 숫자형
1. 정수형 <br>
정수형(Integer)는 말 그대로 양의 정수와 음의 정수, 숫자 0을 변수 a에 대입하는 예이다.

In [1]:
a = 123
a = -178
a = 0

2. 실수형 <br>
실수형(Floating-Point)는 소수점이 포함된 숫자를 말한다.

In [2]:
a = 1.2
a = -3.45

 위 방식은 일반적으로 볼 수 있는 실수형의 소수점 표현 방식이다.

In [3]:
a = 4.24E10
a = 4.24e-10

 위 방식은 "컴퓨터식 지수 표현 방식"으로 파이썬에서는 4.24e10 또는 4.24E10처럼 표현한다. 이때 4.24E10은 $ 4.24 * 10^{10} $을 의미한다.

3. 8진수와 16진수 <br>
8진수(Octal)를 만들기 위해서는 숫자가 0o 또는 0O로 시작하면 된다.

In [4]:
a = 0o177

  16진수(Hexadecimal)를 만들기 위해서는 0x로 시작하면 된다.

In [5]:
a = 0x8ff
b = 0xABC

---
### 2. 숫자형을 활용하기 위한 연산자
1. 사칙연산 <br>
파이썬 역시 계산기와 마찬가지로 다음처럼 연산자를 사용해 사칙연산을 수행한다.

In [7]:
a = 3
b = 4

In [8]:
a + b

7

In [9]:
a * b

12

In [10]:
a / b

0.75

2. 그 외의 연산들
    - $ x^y $
    - $ mod(x,y) $
    - $ quotient(x,y) $

In [14]:
3 ** 5

243

In [20]:
42 % 5

2

In [21]:
42 // 5

8

In [22]:
3.7 % 1.89

1.8100000000000003

In [24]:
3.7 // 1.89

1.0

---
### 3. 문자열 자료형
1. 선언 
    - "Hello World"
    - 'Python is fun'
    - """Life is too short, you need python"""
    - '''Life is too short, you need python''' <br><br>
2. 문자열 안에 작은따옴표나 큰따옴표를 포함시키고 싶을 때 <br>
만약 Python's favorite food is perl을 food 변수에 저장하고 싶다고 가정하자.
문자열 중 작은따옴표(')가 포함되어 있으므로 이 문자열은 큰따옴표로 감싸준다.

In [29]:
food = "Python's favorite food is perl"
print(food)

Python's favorite food is perl

In [28]:
food = """"Hey!" He said."""
print(food)

"Hey!" He said.

3. 여러 줄인 문자열을 변수에 대입하고 싶을 때

In [31]:
multiline = "Life is too short\nYou need python."
print(multiline)

Life is too short
You need python.

In [34]:
multiline = '''Life is too short
You need python'''
print(multiline)

Life is too short
You need python

4. 여러가지 이스케이프 코드
    - \n
    - \t
    - \r 캐리지 리턴(줄 바꿈 문자, 현재 커서를 가장 앞으로 이동)
    - \f 폼 피드(줄 바꿈 문자, 현재 커서를 다음 줄로 이동)
    - \a 벨 소리(출력할 때 PC 스피커에서 '삑' 소리가 난다)
    - \b 백 스페이스
    - \000 널 문자

5. 문자열 연산

In [38]:
# 문자열 Concatenation
head = "Python"
tail = " is fun!"
head + tail

'Python is fun!'

In [41]:
# 문자열 곱하기
print("=" * 50)
print("Hello! I'm Yang!")
print("=" * 50)

==================================================
Hello! I'm Yang!
==================================================

6. 문자열 길이 구하기

In [42]:
a = "Life is too short"
len(a)

17

7. 문자열 인덱싱과 슬라이싱<br>
인덱싱 : 무엇인가를 "가리킨다"는 의미<br>
슬라이싱 : 무엇인가를 "잘라낸다"는 의미
```Python
a = "Life is too short, You need Python"
Life is too short, You need Python
0123456789012345678901234567890123
             1         2         3
```

In [46]:
a = "Life is too short, You need Python"
a[3]

'e'

In [45]:
a[0]

'L'

In [47]:
a[12]

's'

In [50]:
a[-1] # a[-1 + len(a)]

'n'

In [51]:
a[-5] # a[-5 + len(a)]

'y'

In [53]:
a[0:4] # 0 <= a < 4

'Life'

In [55]:
a[19:] # 19 <= a

'You need Python'

In [57]:
 a[:17] # a < 17

'Life is too short'

In [58]:
a[:] # all of string

'Life is too short, You need Python'

8. 문자열 수정

In [59]:
a = "Pithon"
a[1]
a[1] = 'y'

TypeError: 'str' object does not support item assignment

이렇듯 문자열의 요솟값은 바꿀 수 없다. 이는 문자열이 immutable한 자료형이기 때문이다. 이때, 슬라이싱 기법을 사용하여 Python문자열을 만들 수 있다.

In [60]:
a = 'Pithon'
a[:1] + 'y' + a[2:]

'Python'

9. 문자열 포맷 코드
    - %s
    - %c
    - %d
    - %f
    - %o
    - %x
    - %% (Literal %)

In [61]:
"I eat %d apples." % 3

'I eat 3 apples.'

In [63]:
"I eat %s apples." % "five"

'I eat five apples.'

In [65]:
"%s eat %d apples." % ("You", 5)

'You eat 5 apples.'

In [66]:
"Error is %d%%." % 98

'Error is 98%.'

10. format 함수를 사용한 포매팅

In [67]:
"I eat {0} apples".format(3)

'I eat 3 apples'

In [68]:
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(number, day)

'I ate 10 apples. so I was sick for three days.'

In [70]:
"I ate {number} apples. so I was sick for {day} days.".format(day=3,number = 10)

'I ate 10 apples. so I was sick for 3 days.'

In [71]:
"{0:<10}".format("hi") #왼쪽 정렬(자릿수를 10으로 맞추고 왼쪽으로 정렬)

'hi        '

In [72]:
"{0:>10}".format("hi") #오른쪽 정렬(자릿수를 10으로 맞추고 오른쪽으로 정렬)

'        hi'

In [73]:
"{0:^10}".format("hi") #가운데 정렬(자릿수를 10으로 맞추고 가운데로 정렬)

'    hi    '

In [74]:
"{0:=^10}".format("hi") #공백채우기(자릿수를 10으로 맞추고 정렬후 공백채우기)

'====hi===='

---
### 4. 문자열 관련 함수들

1. Count

In [75]:
a = "hobby"
a.count('b')

2

2. find, index(위치 반환함수)

In [76]:
a = "Python is the best choice"
a.find('b')

14

In [78]:
a.find('k') # 문자가 없을시

-1

In [79]:
a.find("is")

7

In [80]:
a.index('t')

2

In [81]:
a.index("is")

7

In [82]:
a.index('k')

ValueError: substring not found

3. 문자열 삽입(join)

In [83]:
",".join('abcd') # 문자열의 각각의 문자 사이에 ','를 삽입한다.

'a,b,c,d'

In [84]:
",".join(['a','b','c','d']) #리스트나 튜플도 사용가능하다.

'a,b,c,d'

4. 대소문자로 바꾸기

In [87]:
a = "Hi! My name is Heesung Yang."
a.lower()

'hi! my name is heesung yang.'

In [88]:
a.upper()

'HI! MY NAME IS HEESUNG YANG.'

5. 왼쪽 공백 지우기(lstrip), 오른쪽 공백 지우기(rstrip), 양쪽 공백 지우기

In [89]:
a = " hi "
a.lstrip()

'hi '

In [90]:
a.rstrip()

' hi'

In [91]:
a.strip()

'hi'

6. 문자열 바꾸기(replace)

In [92]:
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

7.  문자열 나누기(split)

In [94]:
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [96]:
b = "a, b, c, d"
b.split(', ')

['a', 'b', 'c', 'd']

---
### 5. 리스트 자료형
1. 선언<br>
odd = [1, 3, 5, 7, 9]<br>
a = []<br>
b = [1, 2, "Life", "is"]<br>
c = [1, 2, [3, 4]]<br>
d = list()

2. 리스트의 인덱싱

In [99]:
a = [1, 2, 3]
a

[1, 2, 3]

In [100]:
a[0]

1

In [101]:
a[0] + a[2]

4

In [102]:
a[-1]

3

In [104]:
a = [1,2,[3,4]]
a[2]

[3, 4]

In [105]:
a[2][-1]

4

3. 리스트의 슬라이싱

In [107]:
a = [1, 2, 3, 4, 5]
a[0:2]

[1, 2]

In [108]:
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
a[2:5]

[3, ['a', 'b', 'c'], 4]

In [109]:
a[3][:2]

['a', 'b']

4. 리스트 연산하기

In [111]:
a = [1, 2, 3]
b = [4, 5, 6]
a + b

[1, 2, 3, 4, 5, 6]

In [112]:
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [113]:
len(a)

3

5. 리스트의 수정과 삭제

In [114]:
# 리스트에서 값 수정하기
a = [1, 2, 3]
a[2] = 4
a

[1, 2, 4]

In [115]:
a = [1, 2, 3]
del a[1]
a

[1, 3]

In [117]:
a = [1, 2, 3, 4, 5]
del a[2:]
a

[1, 2]

6. 리스트 관련 함수들

In [119]:
# 리스트에 요소 추가(append)
a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [121]:
a = [1, 2, 3, 4]
a.append([5, 6])
a

[1, 2, 3, 4, [5, 6]]

In [124]:
# 리스트 정렬(sort)
a = [1, 4, 3, 2]
a.sort()
a

[1, 2, 3, 4]

In [126]:
a = ['a', 'd', 'b', 'c']
a.sort()
a

['a', 'b', 'c', 'd']

In [127]:
# 리스트 뒤집기(reverse)
a = ['a', 'c', 'b']
a.reverse()
a

['b', 'c', 'a']

In [131]:
# 위치 반환(index)
a = ['a', 'c', 'd']
a.index('c')

1

In [133]:
# 요소 삽입(insert)
a = [1, 2, 3]
a.insert(0, 4)
a

[4, 1, 2, 3]

In [136]:
# 첫 번째로 나오는 특정요소 삭제
a = [1, 2, 3, 1, 2, 3]
a.remove(3)
a

[1, 2, 1, 2, 3]

In [139]:
# pop
a = [1, 2, 3]
print(a.pop())
a

3

[1, 2]

In [140]:
# 리스트에 포함된 요소 x의 개수
a = [1, 2, 3, 1]
a.count(1)

2

In [143]:
# 리스트 확장(extend)
a = [1, 2, 3]
a.extend([4,5])
a

[1, 2, 3, 4, 5]

---
### 6. 튜플 자료형
1. 선언<br>
    - t1 = ()
    - t2 = (1,)
    - t3 = (1, 2, 3)
    - t4 = 1, 2, 3, ('a', 'b')
2. 특징
    - 튜플은 값이 바뀌지 않는다.따라서 기본 연산만 가능하다.(더하기, len 등)

---
### 7. 딕셔너리 자료형
1. 선언<br>
    - a = {1: 'a'}
    - a[2] = 'b'
    - a['name'] = 'pey'
    - a[key] = value
2. 기본 연산
    - del 연산
3. 딕셔너리 관련 함수들

In [144]:
# key, value list 만들기(keys, values)
a = {'name':'pey', 'phone':'0119993323', 'birth':'1118'}
a.keys()

dict_keys(['name', 'phone', 'birth'])

In [145]:
list(a.keys())

['name', 'phone', 'birth']

In [146]:
a.values()

dict_values(['pey', '0119993323', '1118'])

In [147]:
list(a.values())

['pey', '0119993323', '1118']

In [148]:
# key, value 쌍 얻기(items)
a.items()

dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')])

In [149]:
list(a.items())

[('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')]

In [151]:
# 모두 지우기
a.clear()
a

{}

In [153]:
# key로 value 얻기(get)
a = {'name':'pey', 'phone':'0119993323', 'birth':'1118'}
a.get('name')

'pey'

In [156]:
print(a.get('address'))

None

In [157]:
print(a['address'])

KeyError: 'address'

In [159]:
# in 연산자(해당 key나 값이 자료구조에 있는지 조사)
a = {'name':'pey', 'phone':'0119993323', 'birth':'1118'}
'name' in a

True

In [160]:
'email' in a

False

---
### 8. 딕셔너리 자료형
1. 선언
    - s1 = set([1, 2, 3])
    - s2 = set("Hello")
2. 특징
    - 중복을 허용하지 않는다
    - 순서가 없다.(Unordered)

In [161]:
s1 = set([1, 2, 3])
l1 = list(s1)
l1

[1, 2, 3]

In [163]:
t1 = tuple(s1)
t1

(1, 2, 3)

3. 집합 연산

In [164]:
# 1. 교집합
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

s1 & s2

{4, 5, 6}

In [165]:
s1.intersection(s2)

{4, 5, 6}

In [166]:
# 2. 합집합
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [167]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [169]:
# 3. 차집합
s1 - s2

{1, 2, 3}

In [170]:
s2 - s1

{7, 8, 9}

4. 집합 관련 함수들

In [172]:
s1 = set([1, 2, 3])
s1.add(4) #값 한개 추가하기
s1

{1, 2, 3, 4}

In [174]:
s1.update([5, 6, 7]) #값 여러개 추가하기
s1

{1, 2, 3, 4, 5, 6, 7}

In [176]:
s1.remove(2) # 특정 값 제거하기
s1

{1, 3, 4, 5, 6, 7}

---
### 9. 불 자료형
1. 선언
    - a = True
    - b = False
2. bool연산
    - bool([1, 2, 3])
    - bool([])
    - bool(0)
    - bool(0.1)

---
### 10. 변수
1. 메모리 주소의 확인

In [178]:
a = [1, 2, 3]
id(a)

2053955384904

In [179]:
b = a
id(b) # 즉 주소값이 같게된다.

2053955384904

2. is 연산자(동일한 객체임을 확인)

In [180]:
a is b

True

In [181]:
a is [1, 2, 3]

False

3. 리스트의 복사

In [182]:
# [:]이용
a = [1, 2, 3]
b = a[:]
a is b

False

In [184]:
# copy 모듈 이용
from copy import copy
b = copy(a)
a is b

False

4. Swap in python

In [186]:
a = 3
b = 5
a, b = b, a
print("a = %d, b = %d" % (a, b))

a = 5, b = 3

In [187]:
a = [1, 3, 4]
b = [2, 4, 1]
print(id(a))
print(id(b))
a, b = b, a
print(id(a))
print(id(b))

2053955449416
2053955464264
2053955464264
2053955449416